<html>
  <head>
    <title>4040404040404040404</title>
    <link rel = "icon" href="/img/resin.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather!</p>
    </div>
    <h1>{{errorMessage}}</h1>
    {{>footer}}
  </body>
</html>