<html>
  <head>
    <title>Help</title>
    <link rel = "icon" href="/img/resin.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h3>pla duk fool</h3>
      <p>Use this site to get your weather!</p>
    </div>
    {{>footer}}
  </body>
</html>